<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Accueil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-button routerLink="/panier">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Commander une pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content style="text-align: center">
      <p>Cliquer ci-dessous pour commander une pizza</p>
      <ion-button routerLink="/pizzas">
        <ion-icon name="reader-outline"></ion-icon>
        Commander
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
